<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<title>Pushy{% if page.title %} - {{ page.title }}{% endif %}</title>
	
	<link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection">
	<link rel="stylesheet" href="/css/print.css" type="text/css" media="print">
	<!--[if IE]>
		<link rel="stylesheet" href="/css/ie.css" type="text/css" media="screen, projection">
	<![endif]-->
  
	<link rel="stylesheet" href="/css/style.css" type="text/css" media="screen" charset="utf-8"/>
</head>

<body>
  <div class="container">

    <div class="span-21" id="header">
        <a href="/"><h1><span>Pushy</span></h1></a>
      	<ul id="nav">
			<li><a href="/">Home</a></li>
			<li><a href="/faq">FAQ</a></li>
			<li><a href="http://blog.pushyapp.com/">Blog</a></li>
			<li><a href="/support">Support</a></li>
			<li><a href="/about">About</a></li>
		</ul>
    </div>
    
	<div class="span-21 last{% if page.type != 'home' %} content{% endif %}">
		{% if page.title %}
			<h2>{{ page.title }}</h2>
		{% endif %}
		
    	{{ content }}
	</div>
      
    <div id="footer" class="span-21">
      	<p><span class="copyright">Copyright © 2009 Pushy Inc.</span> <span class="legal"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></span> <span class="about"><a href="#">Info</a> / <a href="#">Contact Us</a></span></p>
			<p style="width:600px">
				We use
				<a href="http://rubyonrails.org/">Ruby on Rails</a>,
				<a href="http://code.macournoyer.com/thin/">Thin</a>,
				<a href="http://www.mysql.com/">MySQL</a>,
				<a href="http://rackspacecloud.com">Rackspace Cloud</a> and
				<a href="http://github.com/pushy">GitHub</a>.
			</p>
			<p>If you find a bug, email <a href="mailto:staff@pushyapp.com">our support team</a>.</p>
    </div>

  </div>
</body>
</html>
